<mat-toolbar color ="primary">
  <span >
    <a mat-button routerLink ="/" routerLinkActive="mat-accent">My Contacts </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink ="/addContact" routerLinkActive ="mat-accent">Add contacts</a>
    </li>
  </ul>
  <ul>
    <li *ngIf ="!userIsAuthenticated">
      <a mat-button routerLink ="/login" routerLinkActive ="mat-accent">Login</a>
    </li>
  </ul>
  <ul>
    <li *ngIf ="!userIsAuthenticated">
      <a mat-button routerLink ="/signup" routerLinkActive ="mat-accent">Sign Up</a>
    </li>
  </ul>
  <ul>
    <li *ngIf ="userIsAuthenticated">
      <button mat-button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
